/** Contacto Home**/

.imagen-contacto {
    background-image: url(../imgs/encuentra.jpg);
    background-position: center center;
    background-size: cover;
    height: 40rem;
    display: flex;
    align-items: center;
}

.contenido-contacto {
    flex: 0 0 95%;
    color: white;
    p {
        font-size: 1.8rem;
    }
}

.contenedor .boton-contacto {
    background-color: #e08709;
    /** intentar poner el boton solo en el centro y que no se expanda a todo el ancho **/
}


/** Contacto **/

form p {
    font-size: 1.6rem;
    color: #4f4f4f;
    margin: 2rem 0 0 0;
}

legend {
    font-size: 2rem;
    color: #4f4f4f;
}

label {
    font-weight: 700;
    text-transform: uppercase;
    display: block;
}

input:not([type="submit"]),
textarea,
select {
    /**selector de atributos**/
    padding: 1rem;
    display: block;
    width: 100%;
    background-color: #e1e1e1;
    margin-bottom: 2rem;
    border: none;
    border-radius: 1rem;
}

input[type="radio"] {
    width: auto;
    margin: 0;
}

select {
    -webkit-appearance: none;
    appearance: none;
}

textarea {
    height: 20rem;
}

.forma-contacto {
    max-width: 30rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}