.site-footer {
    background-color: #333333;
    margin: 0;
    nav {
        display: none;
        @media (min-width: 768px) {
            display: block;
        }
    }
}

.contenedor-footer {
    padding: 3rem 0;
    text-align: center;
    @media (min-width: 768px) {
        display: flex;
        justify-content: space-between;
    }
}

.copyright {
    margin: 0;
    color: white;
}